* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font", monospace;
}

window {
    background-color: rgba(12, 12, 12, 0.9);
}

button {
    color: #FFFFFF;
    background-color: #1e1e2e;
    border-style: solid;
    border-width: 2px;
    border-color: #45475a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 12px;
    margin: 10px;
}

button:focus, button:active, button:hover {
    background-color: #313244;
    border-color: #89b4fa;
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
